/* FormPage.css */
 
  .container {
    display: flex;
    flex-direction: column;
    background-color: #f5f4f2;
    align-items: center;
    justify-content: center;
    padding: 25px;
    min-height: calc(100vh - 105px);
  }
  
  .card {
    min-width: 95%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

  .sectionNumber {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .titol {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .questionText {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .inputField {
    background-color: #f0f0f0;
    height: 30px;
    border: 3px solid gray;
    margin-bottom: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: calc(100% - 20px);
    font-size: 15px;
    padding-left: 10px;
    outline: none;
  }

  .inputField:focus {
    border: 3px solid #08693e;
  }

  .optionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .option {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }
  
  .selectedOption {
    background-color: #b9fbc0;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Make all selected options the same width */
    text-align: left;
    border-width: 0px;
    font-size: 15px;
    color: black;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .nextButton {
    min-width: 160px;
    background-color: #08693e;
    border-radius: 20px;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-width: 0px;
    cursor: pointer;
  }
  
  .nextButton.disabled {
    background-color: gray;
    cursor: default;
  }
  
  .buttonText {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  
  .screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .trueFalseButtons {
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    min-width: 95px;
  }
  
  .trueFalseButton {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
  

  
  .scaleQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .scaleOptions {
    flex-direction: row;
    margin-left: 15px;
    min-width: 130px;
  }
  
  .scaleOption {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .scaleOptionSelected {
    border-width: 2px;
    border-color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
  }
  
  
  .multipleChoiceOption {
    display: flex;
    align-items: center; 
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }

  .multipleChoiceOptionSelected {
    background-color: #b9fbc0;
    display: flex;
    align-items: center; 
    border-radius: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }

  .multipleChoiceOption input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #08693e;
    border-radius: 3px;
    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #08693e;
      background-color: CanvasText;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform-origin: left top;
    }
    &:checked::before {
      transform: scale(1);
    }
  }

  .multipleChoiceOptionSelected input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #08693e;
    border-radius: 3px;
    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #08693e;
      background-color: CanvasText;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform-origin: left top;
    }
    &:checked::before {
      transform: scale(1);
    }
  }

 

