/* FormPage.css */
 
  .container {
    display: flex;
    flex-direction: column;
    background-color: #f5f4f2;
    align-items: center;
    justify-content: center;
    padding: 25px;
    min-height: calc(100vh - 105px);
  }
  
  .card {
    min-width: 95%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

  .sectionNumber {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .titol {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .questionText {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .inputField {
    background-color: #f0f0f0;
    height: 30px;
    border: 3px solid gray;
    margin-bottom: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: calc(100% - 20px);
    font-size: 15px;
    padding-left: 10px;
    outline: none;
  }

  .inputField:focus {
    border: 3px solid #08693e;
  }

  .optionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .option {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }
  
  .selectedOption {
    background-color: #b9fbc0;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Make all selected options the same width */
    text-align: left;
    border-width: 0px;
    font-size: 15px;
    color: black;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
  }
  
  .nextButton {
    min-width: 160px;
    background-color: #08693e;
    border-radius: 20px;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-width: 0px;
    cursor: pointer;
  }
  
  .nextButton.disabled {
    background-color: gray;
    cursor: default;
  }
  
  .buttonText {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  
  .screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .trueFalseButtons {
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    min-width: 95px;
  }
  
  .trueFalseButton {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
  

  
  .scaleQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .scaleOptions {
    flex-direction: row;
    margin-left: 15px;
    min-width: 130px;
  }
  
  .scaleOption {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .scaleOptionSelected {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    margin-right: 5px;
    text-align: center;
  }
  
  
  .multipleChoiceOption {
    display: flex;
    align-items: center; 
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }

  .multipleChoiceOptionSelected {
    background-color: #b9fbc0;
    display: flex;
    align-items: center; 
    border-radius: 10px;
    width: 100%; /* Make all options the same width */
    text-align: left;
    border-width: 0px;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }

  .multipleChoiceOption input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #08693e;
    border-radius: 3px;
    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #08693e;
      background-color: CanvasText;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform-origin: left top;
    }
    &:checked::before {
      transform: scale(1);
    }
  }

  .multipleChoiceOptionSelected input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #08693e;
    border-radius: 3px;
    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #08693e;
      background-color: CanvasText;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform-origin: left top;
    }
    &:checked::before {
      transform: scale(1);
    }
  }

  :root {
	--c-white: #fff;
	--c-black: #000;

	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	--c-java: #1FCAC5;

	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;
}

  .button {
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid #08693e;
    color: #08693e;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: fit-content;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: #08693e;
        color: var(--c-white);
    }
}

.button:disabled {
    cursor: default;
    color: #ccc;
    border: 2px solid #ccc;
    &:hover,
		&:focus {
			background-color: var(--c-white);
			color: #ccc;
		}
  }
 

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    padding: 10px;
    transition: visibility 0.5s, opacity 0.5s; /* Added transition for smoother effect */
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup.show .popuptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* Add animation (fade in the popup) */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Apply fadeIn animation to show class */
  .popup.show .popuptext {
    animation: fadeIn 1s;
  }
