html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f4f2;
}

.screen {
  min-height: 100%;
  max-height: 100%;
}

.scroll {
  min-height: 100%;
  height: 100%;
}

.container {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  min-height: calc(100vh - 50px);
  scroll-behavior: none;
}

.headerText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.titolHome {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 0px 10px
}


#logo {
  height: 45px;
  border-radius: 50%;
  float: left;
  padding: 2.5px 0;
  margin: 2.5px 0;
  margin-left: 8px;
  transition: all 0.3s ease;
}

#hospitalClinic {
  height: 40px;
  float: left;
  transition: all 0.3s ease;
}

#userLogo {
  height: 35px;
  border-radius: 50%;
  float: left;
  margin-right: 8px;
  transition: all 0.3s ease;
}


nav a, th, .plink {
  transition: all 0.3s ease;
}


nav a:hover, .plink:hover {
  color: #08693E;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 
    'Oxygen','Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #08693E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a, th, .plink {
  transition: all 0.3s ease;
}

nav a:hover, .plink:hover {
  color: #5f5f5f;
}

th:hover {
  background-color: #f1f1f1;
}

.contenidor {
  padding: 0 20px;
  background-color: #f5f4f2;
  margin-top: 65px;
}

.custom-cluster-icon {
  background-color: #3388ff; 
  border-radius: 50%; 
  text-align: center;
  line-height: 40px; 
  color: #fff; 
  font-weight: bold;
}

.cluster-population {
  font-size: 14px;
}

.custom-pin {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 17, 255); 
  border-radius: 50%;
}

.bottom-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgb(0, 17, 255); 
  position: absolute;
  top: 15px; 
}

.population { 
  color: white;
  padding-left:  4px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: -18px;
  position: relative;
  z-index: 1; 
  text-align: center;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");


:root {
	--c-white: #fff;
	--c-black: #000;

	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	--c-java: #1FCAC5;

	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;
}


.cards {
	display: block;
  display: inline-block;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	width: 100%;
	margin: 20px auto;
  max-height: calc(100vh - 150px); 
  overflow-y: auto;
}

.cardsTabla {
	display: block;
  display: inline-block;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	width: 100%;
	margin: 20px auto;
  overflow: hidden;
}

.cardEnquesta {
  box-sizing: 'border-box';
  min-width: calc(100% - 40px);
  display: block;
	border-radius: 16px;
  padding: 15px;
  box-shadow: 0 30px 30px -40px rgba(65, 51, 183, 0.25), 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.information {
	background-color: var(--c-white);
	padding: 20px;
  width: auto;

  .tags{
    display: 'inline-block';
    width: 'auto';
    margin-right: '5px';
    flex-direction: row;
  }
  
  .tag {
    display: inline-flex;
    background-color: var(--c-titan-white);
    color: var(--c-indigo);
    font-weight: 650;
    font-size: 14px;
    padding: 7px 10px;
    line-height: 1;
    max-width: fit-content;
    border-radius: 6px;
    min-width: 0; /* Allow the tag to shrink based on content */
    overflow: hidden; /* Hide any overflow if content is too long */
    white-space: nowrap; /* Prevent wrapping */
    margin-right: 10px;
  }

	.titleHome {
		font-size: 25px;
		color: var(--c-void);
		line-height: 1;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
	}

  .duracio {
    font-size: 14px;
    color: grey;
    font-style: italic;
  }

	.infoHome {
    justify-content: space-between;
    text-align: justify;
    line-height: "1.5";
    font-size: 16px;
		color: var(--c-charcoal);
		& + * {
			margin-top: 20px;
		}
	}

	.button {
		font: inherit;
		line-height: 1;
		background-color: var(--c-white);
		border: 2px solid #08693e;
		color: #08693e;
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
    max-width: fit-content;
    cursor: pointer;
		&:hover,
		&:focus {
			background-color: #08693e;
			color: var(--c-white);
		}
	}

  .buttonResultats {
    margin-left: 15px;
		font: inherit;
		line-height: 1;
		background-color: var(--c-white);
		border: 2px solid #4133B7;
		color: #4133B7;
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
    max-width: fit-content;
    cursor: pointer;
		&:hover,
		&:focus {
			background-color: #4133B7;
			color: var(--c-white);
		}
	}

  .button:disabled {
    cursor: default;
    color: #ccc;
    border: 2px solid #ccc;
    &:hover,
		&:focus {
			background-color: var(--c-white);
			color: #ccc;
		}
  }
	
	.details {
		display: flex;
		gap: 1rem;
		div {
			padding: .75em 1em;
			background-color: var(--c-titan-white);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 50%;
		}
		
		dt {
			font-size: .875rem;
			color: var(--c-cold-purple);
		}
		
		dd {
			color: var(--c-indigo);
			font-weight: 600;
			font-size: 1.25rem;
		}
	}
}

.recharts-wrapper {
  margin : 0 auto;
  align-items: center;
  align-self: center;
  align-content: center;
}

.header-cell {
  position: relative;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.header-cell-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /* Agregado para una transición suave */
}

.sort-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(128, 128, 128, 0.7);
}
