.container {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.surveyBox {
  background-color: #4CAF50;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  elevation: 5;
}

.headerText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.titleText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.descriptionText {
  font-size: 16px;
}

.button:active, .buttonini:active, .buttonthin:active {
  transform: translateY(-1px);
}

.buttonini {
  height: 2rem;
  line-height: 2rem;
  background-color:  #efefef;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 1rem auto;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.buttonini:hover {
  background-color: #008aa8;
  color: white;
}


#logo {
  height: 45px;
  border-radius: 50%;
  float: left;
  padding: 2.5px 0;
  margin: 2.5px 0;
  transition: all 0.3s ease;
}

nav a, th, .plink {
  transition: all 0.3s ease;
}


nav a:hover, .plink:hover {
  color: #08693E;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 
    'Oxygen','Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #08693E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding: 0 2rem;
}

nav a, th, .plink {
  transition: all 0.3s ease;
}

nav a:hover, .plink:hover {
  color: #5f5f5f;
}

th:hover {
  background-color: #f1f1f1;
}

.enquestes {
  padding: 0 20px;
}